name: Test

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '45 16 2 * *'  # <https://crontab.guru/#45_16_2_*_*>

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - uses: actions/checkout@v5
      - name: Use NodeJS
        uses: actions/setup-node@v5
        with:
          node-version: 20
      - run: |
          ./run_tests.sh
        shell: bash
  auto-merge:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Check out repo
        uses: actions/checkout@v5
      - name: auto-merge
        if: |
          github.actor == 'dependabot[bot]' &&
          github.event_name == 'pull_request'
        run: |
          gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          # this secret needs to be in the settings.secrets.dependabot
          GITHUB_TOKEN: ${{secrets.GH_ACTION_TOKEN}}
